// Component Partial - Buttons, Navbars, Cards, anything that is reusable.

button {
    border: none;
    border-radius: 4px;
    color: $main-text-color;
    background-color: $button-background-color;
    transition: background-color 0.2s ease-in-out;
            
    &:hover, &:focus {
        background-color: $color-highlight;
    }
}